<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= if session[:user_id] == current_user %>
<h2>CREATE LOGIN PAGE / SIGNIN / SIGNUP</h2>
  <%= render partial: "./sessions/new" %>

  <%= else  %>
<h1>Logged in as:</h1>
<h1><%= "#{@user.fname} #{@user.lname}" %></h1>

<a href=<%= "/users/#{@user.id}/cards/new" %>>ADD NEW CARDS</a>
<%= end %>
