
<a href="/products/">list of products</a>

<h2>USER ACCOUNT === <%= "#{@current_user.fname} #{@current_user.lname}" %></h2>
<%= image_tag @user.avatar.url(:thumb) %>

<a href=<%= "/users/#{@current_user.id}/cards/new" %>>ADD NEW CARDS</a>

<h4>======list of <%="#{@current_user.fname}"%>'s current cards=======</h4>

<% if @cards %>
<% @cards.each do |card| %>

<h4><%= "x"*10 %><%= card.card_number.to_s[-4..-1]%><h4>

<% end %>

<% end %>