
<%= image_tag @current_user.avatar.url(:thumb) %>

<h2>ADD A NEW CREDIT CARD</h2>

<%= form_for [@current_user, @card] do |f| %>
  <%= f.text_field :card_number, placeholder: 'card number' %>
  <%= f.date_select :expiration, placeholder: 'expiration date' %>
  <%= f.submit %>
<% end %>