<!DOCTYPE html>
<html>
<head>
  <title>CreditCardStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h4>WEEK SIX CREDIT_CARD_STORE</h4>

<% if @current_user %>
<a href="/users/show">user account</a>
<% end %>

<a href="/products/">list of products</a>

<% if @current_user %>
<%= link_to ("logout"), "/users/#{@current_user.id}", method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
