<!DOCTYPE html>
<html>
<head>
  <title>CreditCardStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @current_user%>
<h4>Logged in as: <%= "#{@current_user.fname} #{@current_user.lname}" %></h4>
<% end %>

<br>
<% if @current_user %>
<a href=<%="/users/#{session[:user_id]}"%>>user account</a>
<% end %>

<% if @current_user %>
<%= link_to ("logout"), "/users/#{@current_user.id}", method: :delete %>
<% end %>

<%= yield %>

</body>

</html>
